<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dice Rolling Game</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <h1>Rolling Dice Game 🎲</h1>
        <img id="diceImage" src="{{ url_for('static', filename='Dice/Dice1.jpeg') }}" alt="Dice">
        <button onclick="rollDice()">Roll Dice</button>
    </div>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
